{% extends 'main/base.html' %}

{% block title %}
Отзывы
{% endblock %}

{% block header %}
<li class="has-children">
  <a href="#" class="nav-link"><span class="icon-info"></span></a>
  <ul class="dropdown arrow-top">
    <li><a href="{% url 'team' %}" class="nav-link">Наша команда</a></li>
    <li><a href="{% url 'about' %}" class="nav-link">О нас</a></li>
    <li class="has-children">
      <a href="#" class="nav-link">Отзывы</a>
      <ul class="dropdown arrow-top">
        <li><a href="{% url 'reviews' %}" class="nav-link">Читать отзывы</a></li>
        <li><a href="{% url 'makeReview' %}" class="nav-link">Написать отзыв</a></li>
      </ul>
    </li>
  </ul>
</li>
<li><a href="/#home" class="nav-link">Главная</a></li>
<li><a href="/#prices-services" class="nav-link">Цены и услуги</a></li>
<li><a href="/#gallery" class="nav-link">Примеры работ</a></li>
<li><a href="/#contacts" class="nav-link">Контакты</a></li>
<li><a href="https://wa.me/79684705401" target="_blank" class="nav-link">Записаться</a></li>
<li><a href="admin" class="nav-link"><span class="icon-sign-in"></span></a></li>
{% endblock %}

{% block name_page %}
<h2 style="color:white; font-family:italic">Отзывы</h2>
{% endblock %}

{% block content %}
<h1 align="center" style="font-family:italic">Оставьте свой отзыв:</h1>
<div style="margin-left:15%; margin-right:15%">
    <div align="center" style="mt-2">
        <form method="post">
            {% csrf_token %}
            <p style="mt-2">{{ form.name }}</p>
            <p style="mt-2">{{ form.phone }}</p>
            <p style="mt-2">{{ form.txt }}</p>
            <button type="submit" class="btn btn-primary" style="margin-bottom:20px">Отправить</button>
            <span>{{ error }}</span>
        </form>
    </div>
</div>
{% endblock %}

